{% extends 'admin/adminBase.jinja2' %}

{% block body %}
    <div class="container">
        <div class="starter-template">
            <h1>Welcome!</h1>
            <p>This is the Fan admin. Hopefully this homepage isn't useless for long!</p>
        </div>
    </div>
{% endblock %}