{% extends 'admin/adminBase.jinja2' %}

{% block body %}
    <div class="container">
        <br>
        <ol class="breadcrumb">
            <li><a href="/admin/shopify-users/">Shopify Users</a></li>
            <li><a href="{{shopifyUser.getAdminUrl()}}">{{shopifyUser.myshopifyDomain}}</a></li>
            <li class="active">Products</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                {% include 'admin/productTable.jinja2' %}
            </div>
        </div>
    </div>
{% endblock %}