{% extends 'admin/adminBase.jinja2' %}

{% block body %}
    <div class="container">
        <h3>{{shopifyUser.myshopifyDomain}}</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div>
                            <b>Email: </b> {{shopifyUser.email}}
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}