<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan</title>
    <link rel="stylesheet" href="/static/vendor.css">
    <link rel="stylesheet" href="/static/client.css">
    {% block head %}
    {% endblock %}
</head>
<body>
   {% block body %}
   {% endblock %}  
    <script src="/static/vendor.js"></script>
    <script src="/static/client.js"></script>
</body>
</html>

