<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan</title>
    <link rel="stylesheet" href="/static/vendor.css">
    <link rel="stylesheet" href="/static/client.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <style>
        html {
            min-height: 100%;
        }
    </style>
</head>
<body class="homepage">
    <div class="homepage-content">
        <h4>Fan</h4>        
    </div>
</body>
</html>

