{% extends 'base.jinja2' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <h1>Fan</h1>
            </div>
        </div>
    </div>
{% endblock %}