{% extends 'base.jinja2' %}

{% block head %}
    <style>
        html {
            min-height: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="homepage-content">
        <img src="/static/images/fan2.png" alt="">
        <h1>Fan</h1>
        <p>
            Increasing the efficency of human communication. 
        </p>
        <hr>
    </div>
{% endblock %}