{% extends 'base.jinja2' %}

{% block head %}
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script>
        {% if not dev %}
            ShopifyApp.init({
              apiKey: '{{shopifyApiKey()}}',
              shopOrigin: 'https://{{myshopifyDomain}}',
            });
            ShopifyApp.ready(function(){
                ShopifyApp.Bar.loadingOff()
                ShopifyApp.Bar.initialize({
                    icon: '/static/images/logo-sq.png'
                })
            })
        {% endif %}
        var shopifyUser = {{shopifyUserJson}}
    </script>  
{% endblock %}

{% block body %}

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{facebookAppId()}}',
                xfbml      : true,
                version    : 'v2.6'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="shopifyApp"></div>
{% endblock %}