{% extends 'base.jinja2' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="POST">
                    {% if notice %}
                        <div class="alert alert-info" role="alert">{{notice}}</div>
                    {% endif %}
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" class="btn btn-default">Signup</button>
                </form>            
            </div>
        </div>
    </div>
{% endblock %}